@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
        display: none;
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      
        background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
      border-radius: 100vh;
    
    }
  
   
  }